@media screen and (max-width: 1025px) {
    .tablet__hero-cover {
      display: flex;
      background: url("../assets/tablet/image-hero.png") no-repeat;
      height: 18.5rem;
      background-size: contain;
    }
  
    .main-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 3rem;
    }
  
    .main-content__body {
      max-width: 60%;
    }
  
    .content-imgs {
      height: 10rem;
      width: 10rem;
      border-radius: 0.5rem;
    }
  
    .content-imgs + .content-imgs {
      margin-left: 0.5rem;
    }
  
    .imgs-container {
      margin-bottom: 5rem;
    }
  
    .footer {
      height: 25rem;
      display: flex;
      flex-direction: column;
    }
  
    .footer-container {
      flex-direction: column;
      padding: 3rem;
    }
  }